<h1>Cadastro</h1>
<table>
	<tr>
		<td>Nome</td>
		<td><input type="text" name="nome"></td>
	</tr>
	<tr>
		<td>E-mail</td>
		<td><input type="text" name="email"></td>
	</tr>
	<tr>
		<td>Valor: R$[% valor %]</td>
	</tr>
</table>
[% pagseguro() %]
